In [1]:
import json
from pyspark.sql import Row

# Week 7 Material

In [2]:
messages = spark.read.format("kafka").option("kafka.bootstrap.servers", "kafka:29092").option("subscribe","assessments").option("startingOffsets", "earliest").option("endingOffsets", "latest").load()

In [3]:
messages

DataFrame[key: binary, value: binary, topic: string, partition: int, offset: bigint, timestamp: timestamp, timestampType: int]

In [4]:
messages.printSchema()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

In [5]:
messages.show()

+----+--------------------+-----------+---------+------+--------------------+-------------+
| key|               value|      topic|partition|offset|           timestamp|timestampType|
+----+--------------------+-----------+---------+------+--------------------+-------------+
|null|[7B 22 6B 65 65 6...|assessments|        0|     0|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     1|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     2|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     3|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     4|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     5|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     6|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     7|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     8|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|     9|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    10|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    11|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    12|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    13|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    14|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    15|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    16|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    17|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    18|1969-12-31 23:59:...|            0|
|null|[7B 22 6B 65 65 6...|assessments|        0|    19|1969-12-31 23:59:...|            0|
+----+--------------------+-----------+---------+------+--------------------+-------------+
only showing top 20 rows

In [6]:
messages_as_strings=messages.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)")

In [7]:
messages_as_strings.show()

+----+--------------------+
| key|               value|
+----+--------------------+
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
|null|{"keen_timestamp"...|
+----+--------------------+
only showing top 20 rows

In [8]:
messages_as_strings.printSchema()

root
 |-- key: string (nullable = true)
 |-- value: string (nullable = true)

In [9]:
messages_as_strings.count()

3280

In [10]:
messages_as_strings.select('value').take(1)

[Row(value='{"keen_timestamp":"1516717442.735266","max_attempts":"1.0","started_at":"2018-01-23T14:23:19.082Z","base_exam_id":"37f0a30a-7464-11e6-aa92-a8667f27e5dc","user_exam_id":"6d4089e4-bde5-4a22-b65f-18bce9ab79c8","sequences":{"questions":[{"user_incomplete":true,"user_correct":false,"options":[{"checked":true,"at":"2018-01-23T14:23:24.670Z","id":"49c574b4-5c82-4ffd-9bd1-c3358faf850d","submitted":1,"correct":true},{"checked":true,"at":"2018-01-23T14:23:25.914Z","id":"f2528210-35c3-4320-acf3-9056567ea19f","submitted":1,"correct":true},{"checked":false,"correct":true,"id":"d1bf026f-554f-4543-bdd2-54dcf105b826"}],"user_submitted":true,"id":"7a2ed6d3-f492-49b3-b8aa-d080a8aad986","user_result":"missed_some"},{"user_incomplete":false,"user_correct":false,"options":[{"checked":true,"at":"2018-01-23T14:23:30.116Z","id":"a35d0e80-8c49-415d-b8cb-c21a02627e2b","submitted":1},{"checked":false,"correct":true,"id":"bccd6e2e-2cef-4c72-8bfa-317db0ac48bb"},{"checked":true,"at":"2018-01-23T14:23:41.791Z","id":"7e0b639a-2ef8-4604-b7eb-5018bd81a91b","submitted":1,"correct":true}],"user_submitted":true,"id":"bbed4358-999d-4462-9596-bad5173a6ecb","user_result":"incorrect"},{"user_incomplete":false,"user_correct":true,"options":[{"checked":false,"at":"2018-01-23T14:23:52.510Z","id":"a9333679-de9d-41ff-bb3d-b239d6b95732"},{"checked":false,"id":"85795acc-b4b1-4510-bd6e-41648a3553c9"},{"checked":true,"at":"2018-01-23T14:23:54.223Z","id":"c185ecdb-48fb-4edb-ae4e-0204ac7a0909","submitted":1,"correct":true},{"checked":true,"at":"2018-01-23T14:23:53.862Z","id":"77a66c83-d001-45cd-9a5a-6bba8eb7389e","submitted":1,"correct":true}],"user_submitted":true,"id":"e6ad8644-96b1-4617-b37b-a263dded202c","user_result":"correct"},{"user_incomplete":false,"user_correct":true,"options":[{"checked":false,"id":"59b9fc4b-f239-4850-b1f9-912d1fd3ca13"},{"checked":false,"id":"2c29e8e8-d4a8-406e-9cdf-de28ec5890fe"},{"checked":false,"id":"62feee6e-9b76-4123-bd9e-c0b35126b1f1"},{"checked":true,"at":"2018-01-23T14:24:00.807Z","id":"7f13df9c-fcbe-4424-914f-2206f106765c","submitted":1,"correct":true}],"user_submitted":true,"id":"95194331-ac43-454e-83de-ea8913067055","user_result":"correct"}],"attempt":1,"id":"5b28a462-7a3b-42e0-b508-09f3906d1703","counts":{"incomplete":1,"submitted":4,"incorrect":1,"all_correct":false,"correct":2,"total":4,"unanswered":0}},"keen_created_at":"1516717442.735266","certification":"false","keen_id":"5a6745820eb8ab00016be1f1","exam_name":"Normal Forms and All That Jazz Master Class"}')]

In [11]:
messages_as_strings.select('value').take(1)[0].value

'{"keen_timestamp":"1516717442.735266","max_attempts":"1.0","started_at":"2018-01-23T14:23:19.082Z","base_exam_id":"37f0a30a-7464-11e6-aa92-a8667f27e5dc","user_exam_id":"6d4089e4-bde5-4a22-b65f-18bce9ab79c8","sequences":{"questions":[{"user_incomplete":true,"user_correct":false,"options":[{"checked":true,"at":"2018-01-23T14:23:24.670Z","id":"49c574b4-5c82-4ffd-9bd1-c3358faf850d","submitted":1,"correct":true},{"checked":true,"at":"2018-01-23T14:23:25.914Z","id":"f2528210-35c3-4320-acf3-9056567ea19f","submitted":1,"correct":true},{"checked":false,"correct":true,"id":"d1bf026f-554f-4543-bdd2-54dcf105b826"}],"user_submitted":true,"id":"7a2ed6d3-f492-49b3-b8aa-d080a8aad986","user_result":"missed_some"},{"user_incomplete":false,"user_correct":false,"options":[{"checked":true,"at":"2018-01-23T14:23:30.116Z","id":"a35d0e80-8c49-415d-b8cb-c21a02627e2b","submitted":1},{"checked":false,"correct":true,"id":"bccd6e2e-2cef-4c72-8bfa-317db0ac48bb"},{"checked":true,"at":"2018-01-23T14:23:41.791Z","id":"7e0b639a-2ef8-4604-b7eb-5018bd81a91b","submitted":1,"correct":true}],"user_submitted":true,"id":"bbed4358-999d-4462-9596-bad5173a6ecb","user_result":"incorrect"},{"user_incomplete":false,"user_correct":true,"options":[{"checked":false,"at":"2018-01-23T14:23:52.510Z","id":"a9333679-de9d-41ff-bb3d-b239d6b95732"},{"checked":false,"id":"85795acc-b4b1-4510-bd6e-41648a3553c9"},{"checked":true,"at":"2018-01-23T14:23:54.223Z","id":"c185ecdb-48fb-4edb-ae4e-0204ac7a0909","submitted":1,"correct":true},{"checked":true,"at":"2018-01-23T14:23:53.862Z","id":"77a66c83-d001-45cd-9a5a-6bba8eb7389e","submitted":1,"correct":true}],"user_submitted":true,"id":"e6ad8644-96b1-4617-b37b-a263dded202c","user_result":"correct"},{"user_incomplete":false,"user_correct":true,"options":[{"checked":false,"id":"59b9fc4b-f239-4850-b1f9-912d1fd3ca13"},{"checked":false,"id":"2c29e8e8-d4a8-406e-9cdf-de28ec5890fe"},{"checked":false,"id":"62feee6e-9b76-4123-bd9e-c0b35126b1f1"},{"checked":true,"at":"2018-01-23T14:24:00.807Z","id":"7f13df9c-fcbe-4424-914f-2206f106765c","submitted":1,"correct":true}],"user_submitted":true,"id":"95194331-ac43-454e-83de-ea8913067055","user_result":"correct"}],"attempt":1,"id":"5b28a462-7a3b-42e0-b508-09f3906d1703","counts":{"incomplete":1,"submitted":4,"incorrect":1,"all_correct":false,"correct":2,"total":4,"unanswered":0}},"keen_created_at":"1516717442.735266","certification":"false","keen_id":"5a6745820eb8ab00016be1f1","exam_name":"Normal Forms and All That Jazz Master Class"}'

In [12]:
first_message=json.loads(messages_as_strings.select('value').take(1)[0].value)

In [13]:
first_message

{'base_exam_id': '37f0a30a-7464-11e6-aa92-a8667f27e5dc',
 'certification': 'false',
 'exam_name': 'Normal Forms and All That Jazz Master Class',
 'keen_created_at': '1516717442.735266',
 'keen_id': '5a6745820eb8ab00016be1f1',
 'keen_timestamp': '1516717442.735266',
 'max_attempts': '1.0',
 'sequences': {'attempt': 1,
  'counts': {'all_correct': False,
   'correct': 2,
   'incomplete': 1,
   'incorrect': 1,
   'submitted': 4,
   'total': 4,
   'unanswered': 0},
  'id': '5b28a462-7a3b-42e0-b508-09f3906d1703',
  'questions': [{'id': '7a2ed6d3-f492-49b3-b8aa-d080a8aad986',
    'options': [{'at': '2018-01-23T14:23:24.670Z',
      'checked': True,
      'correct': True,
      'id': '49c574b4-5c82-4ffd-9bd1-c3358faf850d',
      'submitted': 1},
     {'at': '2018-01-23T14:23:25.914Z',
      'checked': True,
      'correct': True,
      'id': 'f2528210-35c3-4320-acf3-9056567ea19f',
      'submitted': 1},
     {'checked': False,
      'correct': True,
      'id': 'd1bf026f-554f-4543-bdd2-54dcf105b826'}],
    'user_correct': False,
    'user_incomplete': True,
    'user_result': 'missed_some',
    'user_submitted': True},
   {'id': 'bbed4358-999d-4462-9596-bad5173a6ecb',
    'options': [{'at': '2018-01-23T14:23:30.116Z',
      'checked': True,
      'id': 'a35d0e80-8c49-415d-b8cb-c21a02627e2b',
      'submitted': 1},
     {'checked': False,
      'correct': True,
      'id': 'bccd6e2e-2cef-4c72-8bfa-317db0ac48bb'},
     {'at': '2018-01-23T14:23:41.791Z',
      'checked': True,
      'correct': True,
      'id': '7e0b639a-2ef8-4604-b7eb-5018bd81a91b',
      'submitted': 1}],
    'user_correct': False,
    'user_incomplete': False,
    'user_result': 'incorrect',
    'user_submitted': True},
   {'id': 'e6ad8644-96b1-4617-b37b-a263dded202c',
    'options': [{'at': '2018-01-23T14:23:52.510Z',
      'checked': False,
      'id': 'a9333679-de9d-41ff-bb3d-b239d6b95732'},
     {'checked': False, 'id': '85795acc-b4b1-4510-bd6e-41648a3553c9'},
     {'at': '2018-01-23T14:23:54.223Z',
      'checked': True,
      'correct': True,
      'id': 'c185ecdb-48fb-4edb-ae4e-0204ac7a0909',
      'submitted': 1},
     {'at': '2018-01-23T14:23:53.862Z',
      'checked': True,
      'correct': True,
      'id': '77a66c83-d001-45cd-9a5a-6bba8eb7389e',
      'submitted': 1}],
    'user_correct': True,
    'user_incomplete': False,
    'user_result': 'correct',
    'user_submitted': True},
   {'id': '95194331-ac43-454e-83de-ea8913067055',
    'options': [{'checked': False,
      'id': '59b9fc4b-f239-4850-b1f9-912d1fd3ca13'},
     {'checked': False, 'id': '2c29e8e8-d4a8-406e-9cdf-de28ec5890fe'},
     {'checked': False, 'id': '62feee6e-9b76-4123-bd9e-c0b35126b1f1'},
     {'at': '2018-01-23T14:24:00.807Z',
      'checked': True,
      'correct': True,
      'id': '7f13df9c-fcbe-4424-914f-2206f106765c',
      'submitted': 1}],
    'user_correct': True,
    'user_incomplete': False,
    'user_result': 'correct',
    'user_submitted': True}]},
 'started_at': '2018-01-23T14:23:19.082Z',
 'user_exam_id': '6d4089e4-bde5-4a22-b65f-18bce9ab79c8'}

In [14]:
type(first_message)

dict

In [15]:
print(first_message['sequences']['counts']['correct'])

2

# Week 8 Material

In [2]:
raw_assessments = spark.read.format("kafka").option("kafka.bootstrap.servers", "kafka:29092").option("subscribe","assessments").option("startingOffsets", "earliest").option("endingOffsets", "latest").load() 

raw_assessments.cache()

assessments = raw_assessments.select(raw_assessments.value.cast('string'))

extracted_assessments = assessments.rdd.map(lambda x: Row(**json.loads(x.value))).toDF()

extracted_assessments.registerTempTable('assessments')

spark.sql("select keen_id from assessments limit 10").show()

spark.sql("select keen_timestamp, sequences.questions[0].user_incomplete from assessments limit 10").show()

+--------------------+
|             keen_id|
+--------------------+
|5a6745820eb8ab000...|
|5a674541ab6b0a000...|
|5a67999d3ed3e3000...|
|5a6799694fc7c7000...|
|5a6791e824fccd000...|
|5a67a0b6852c2a000...|
|5a67b627cc80e6000...|
|5a67ac8cb0a5f4000...|
|5a67a9ba060087000...|
|5a67ac54411aed000...|
+--------------------+

+------------------+-------------------------------------------------------+
|    keen_timestamp|sequences[questions] AS `questions`[0][user_incomplete]|
+------------------+-------------------------------------------------------+
| 1516717442.735266|                                                   true|
| 1516717377.639827|                                                  false|
| 1516738973.653394|                                                  false|
|1516738921.1137421|                                                  false|
| 1516737000.212122|                                                  false|
| 1516740790.309757|                                                  false|
|1516746279.3801291|                                                  false|
| 1516743820.305464|                                                  false|
|  1516743098.56811|                                                  false|
| 1516743764.813107|                                                  false|
+------------------+-------------------------------------------------------+

In [3]:
spark.sql("select sequences.abc123 from assessments limit 10").show()

+------+
|abc123|
+------+
|  null|
|  null|
|  null|
|  null|
|  null|
|  null|
|  null|
|  null|
|  null|
|  null|
+------+

In [4]:
def my_lambda_sequences_id(x):
    raw_dict = json.loads(x.value)
    my_dict = {"keen_id" : raw_dict["keen_id"], "sequences_id" : raw_dict["sequences"]["id"]}
    return Row(**my_dict)

my_sequences = assessments.rdd.map(my_lambda_sequences_id).toDF()

my_sequences.registerTempTable('sequences')

spark.sql("select sequences_id from sequences limit 10").show()

spark.sql("select a.keen_id, a.keen_timestamp, s.sequences_id from assessments a join sequences s on a.keen_id = s.keen_id limit 10").show()

+--------------------+
|        sequences_id|
+--------------------+
|5b28a462-7a3b-42e...|
|5b28a462-7a3b-42e...|
|b370a3aa-bf9e-4c1...|
|b370a3aa-bf9e-4c1...|
|04a192c1-4f5c-4ac...|
|e7110aed-0d08-4cb...|
|5251db24-2a6e-424...|
|066b5326-e547-4da...|
|8ac691f8-8c1a-403...|
|066b5326-e547-4da...|
+--------------------+

+--------------------+------------------+--------------------+
|             keen_id|    keen_timestamp|        sequences_id|
+--------------------+------------------+--------------------+
|5a17a67efa1257000...|1511499390.3836269|8ac691f8-8c1a-403...|
|5a26ee9cbf5ce1000...|1512500892.4166169|9bd87823-4508-4e0...|
|5a29dcac74b662000...|1512692908.8423469|e7110aed-0d08-4cb...|
|5a2fdab0eabeda000...|1513085616.2275269|cd800e92-afc3-447...|
|5a30105020e9d4000...|1513099344.8624721|8ac691f8-8c1a-403...|
|5a3a6fc3f0a100000...| 1513779139.354213|e7110aed-0d08-4cb...|
|5a4e17fe08a892000...|1515067390.1336551|9abd5b51-6bd8-11e...|
|5a4f3c69cc6444000...| 1515142249.858722|083844c5-772f-48d...|
|5a51b21bd0480b000...| 1515303451.773272|e7110aed-0d08-4cb...|
|5a575a85329e1a000...| 1515674245.348099|25ca21fe-4dbb-446...|
+--------------------+------------------+--------------------+

In [5]:
def my_lambda_questions(x):
    raw_dict = json.loads(x.value)
    my_list = []
    my_count = 0
    for l in raw_dict["sequences"]["questions"]:
        my_count += 1
        my_dict = {"keen_id" : raw_dict["keen_id"], "my_count" : my_count, "id" : l["id"]}
        my_list.append(Row(**my_dict))
    return my_list

my_questions = assessments.rdd.flatMap(my_lambda_questions).toDF()

my_questions.registerTempTable('questions')

spark.sql("select id, my_count from questions limit 10").show()

spark.sql("select q.keen_id, a.keen_timestamp, q.id from assessments a join questions q on a.keen_id = q.keen_id limit 10").show()

+--------------------+--------+
|                  id|my_count|
+--------------------+--------+
|7a2ed6d3-f492-49b...|       1|
|bbed4358-999d-446...|       2|
|e6ad8644-96b1-461...|       3|
|95194331-ac43-454...|       4|
|95194331-ac43-454...|       1|
|bbed4358-999d-446...|       2|
|e6ad8644-96b1-461...|       3|
|7a2ed6d3-f492-49b...|       4|
|b9ff2e88-cf9d-4bd...|       1|
|bec23e7b-4870-49f...|       2|
+--------------------+--------+

+--------------------+------------------+--------------------+
|             keen_id|    keen_timestamp|                  id|
+--------------------+------------------+--------------------+
|5a17a67efa1257000...|1511499390.3836269|803fc93f-7eb2-412...|
|5a17a67efa1257000...|1511499390.3836269|f3cb88cc-5b79-41b...|
|5a17a67efa1257000...|1511499390.3836269|32fe7d8d-6d89-4db...|
|5a17a67efa1257000...|1511499390.3836269|5c34cf19-8cfd-4f5...|
|5a26ee9cbf5ce1000...|1512500892.4166169|0603e6f4-c3f9-4c2...|
|5a26ee9cbf5ce1000...|1512500892.4166169|26a06b88-2758-45b...|
|5a26ee9cbf5ce1000...|1512500892.4166169|25b6effe-79b0-4c4...|
|5a26ee9cbf5ce1000...|1512500892.4166169|6de03a9b-2a78-46b...|
|5a26ee9cbf5ce1000...|1512500892.4166169|aaf39991-fa83-470...|
|5a26ee9cbf5ce1000...|1512500892.4166169|aab2e817-73dc-4ff...|
+--------------------+------------------+--------------------+

In [6]:
def my_lambda_correct_total(x):
    
    raw_dict = json.loads(x.value)
    my_list = []
    
    if "sequences" in raw_dict:
        
        if "counts" in raw_dict["sequences"]:
            
            if "correct" in raw_dict["sequences"]["counts"] and "total" in raw_dict["sequences"]["counts"]:
                    
                my_dict = {"correct": raw_dict["sequences"]["counts"]["correct"], 
                           "total": raw_dict["sequences"]["counts"]["total"]}
                my_list.append(Row(**my_dict))
    
    return my_list

my_correct_total = assessments.rdd.flatMap(my_lambda_correct_total).toDF()

my_correct_total.registerTempTable('ct')

spark.sql("select * from ct limit 10").show()

spark.sql("select correct / total as score from ct limit 10").show()

spark.sql("select avg(correct / total)*100 as avg_score from ct limit 10").show()

spark.sql("select stddev(correct / total) as standard_deviation from ct limit 10").show()

+-------+-----+
|correct|total|
+-------+-----+
|      2|    4|
|      1|    4|
|      3|    4|
|      2|    4|
|      3|    4|
|      5|    5|
|      1|    1|
|      5|    5|
|      4|    4|
|      0|    5|
+-------+-----+

+-----+
|score|
+-----+
|  0.5|
| 0.25|
| 0.75|
|  0.5|
| 0.75|
|  1.0|
|  1.0|
|  1.0|
|  1.0|
|  0.0|
+-----+

+-----------------+
|        avg_score|
+-----------------+
|62.65699745547047|
+-----------------+

+-------------------+
| standard_deviation|
+-------------------+
|0.31086692286170553|
+-------------------+

# Business Questions

1. How many users took the exam named *Normal Forms and All That Jazz Master Class*?
2. What is the average score on the exam named *Normal Forms and All That Jazz Master Class*?
3. Which exam was taken by the most number of users? Which exam was taken by the least number of users? 
4. Which exam(s) had the most number of users answer all questions correctly? Which exam(s) had the least?
5. Which exam(s) had the highest average percentage of unanswered questions? Which exam(s) had the lowest?

# Answers to the Business Questions

## 1. How many users took the exam named *Normal Forms and All That Jazz Master Class*?

In [52]:
jazz_count = spark.sql("select exam_name, count(*) as count from assessments where exam_name == 'Normal Forms and All That Jazz Master Class' group by exam_name limit 1")

In [53]:
jazz_count.show(truncate=False)

+-------------------------------------------+-----+
|exam_name                                  |count|
+-------------------------------------------+-----+
|Normal Forms and All That Jazz Master Class|7    |
+-------------------------------------------+-----+

In [54]:
jazz_count.write.mode('overwrite').parquet("/tmp/jazz_count")

## 2. What is the average score on the exam named *Normal Forms and All That Jazz Master Class*?

In [59]:
def my_lambda_q2(x):
    
    raw_dict = json.loads(x.value)
    my_list = []
    
    if "exam_name" in raw_dict and "sequences" in raw_dict:
        
        if "counts" in raw_dict["sequences"]:
            
            if "correct" in raw_dict["sequences"]["counts"] and "total" in raw_dict["sequences"]["counts"]:
                    
                my_dict = {"exam_name": raw_dict["exam_name"],
                           "correct": raw_dict["sequences"]["counts"]["correct"], 
                           "total": raw_dict["sequences"]["counts"]["total"]}
                my_list.append(Row(**my_dict))
    
    return my_list

In [60]:
exam_correct_total = assessments.rdd.flatMap(my_lambda_q2).toDF()

In [61]:
exam_correct_total.registerTempTable('exam_ct')

In [66]:
jazz_average_scores = spark.sql("select exam_name, avg(correct/total)*100 as avg_score from exam_ct where exam_name == 'Normal Forms and All That Jazz Master Class' group by exam_name limit 1")

In [67]:
jazz_average_scores.show(truncate=False)

+-------------------------------------------+-----------------+
|exam_name                                  |avg_score        |
+-------------------------------------------+-----------------+
|Normal Forms and All That Jazz Master Class|60.71428571428571|
+-------------------------------------------+-----------------+

In [68]:
jazz_average_scores.write.mode('overwrite').parquet("/tmp/jazz_average_scores")

## 3.  Which exam was taken the most number of users? Which exam was taken by the least number of users?

In [16]:
exams_taken_most = spark.sql('select exam_name, count(*) as count from assessments group by exam_name order by count desc limit 1')
exams_taken_most.show(truncate=False)

+------------+-----+
|exam_name   |count|
+------------+-----+
|Learning Git|394  |
+------------+-----+

In [18]:
exams_taken_most.write.mode('overwrite').parquet("/tmp/exams_taken_most")

In [17]:
exams_taken_least = spark.sql('select exam_name, count(*) as count from assessments group by exam_name order by count asc limit 1')

+-------------------------------------+-----+
|exam_name                            |count|
+-------------------------------------+-----+
|Learning to Visualize Data with D3.js|1    |
+-------------------------------------+-----+

In [82]:
exams_taken_least.show(truncate=False)

+-------------------------------------+-----+
|exam_name                            |count|
+-------------------------------------+-----+
|Learning to Visualize Data with D3.js|1    |
+-------------------------------------+-----+

In [19]:
exams_taken_most.write.mode('overwrite').parquet("/tmp/exams_taken_least")

## 4. Which exam(s) had the most number of users answer all questions correctly? Which exam(s) had the least?

In [70]:
def my_lambda_q4(x):
    
    raw_dict = json.loads(x.value)
    my_list = []
    
    if "exam_name" in raw_dict and "sequences" in raw_dict:
        
        if "counts" in raw_dict["sequences"]:
            
            if "all_correct" in raw_dict["sequences"]["counts"]:
                    
                my_dict = {"exam_name": raw_dict["exam_name"],
                           "all_correct": raw_dict["sequences"]["counts"]["all_correct"]} 
                my_list.append(Row(**my_dict))
    
    return my_list

In [71]:
exam_all_correct = assessments.rdd.flatMap(my_lambda_q4).toDF()

In [72]:
exam_all_correct.registerTempTable('exam_all_correct')

In [77]:
most_all_correct = spark.sql('select exam_name, count(all_correct) as count_all_correct from exam_all_correct group by exam_name order by count_all_correct desc limit 1')

In [83]:
most_all_correct.show(truncate=False)

+------------+-----------------+
|exam_name   |count_all_correct|
+------------+-----------------+
|Learning Git|394              |
+------------+-----------------+

In [85]:
most_all_correct.write.mode('overwrite').parquet("/tmp/most_all_correct")

In [79]:
least_all_correct = spark.sql('select exam_name, count(all_correct) as count_all_correct from exam_all_correct group by exam_name order by count_all_correct asc limit 1')

In [84]:
least_all_correct.show(truncate=False)

+-------------------------------------+-----------------+
|exam_name                            |count_all_correct|
+-------------------------------------+-----------------+
|Learning to Visualize Data with D3.js|1                |
+-------------------------------------+-----------------+

In [86]:
least_all_correct.write.mode('overwrite').parquet("/tmp/least_all_correct")

## 5. Which exam(s) had the highest average percentage of unanswered questions? Which exam(s) had the lowest?

In [97]:
def my_lambda_q5(x):
    
    raw_dict = json.loads(x.value)
    my_list = []
    
    if "exam_name" in raw_dict and "sequences" in raw_dict:
        
        if "counts" in raw_dict["sequences"]:
            
            if "unanswered" in raw_dict["sequences"]["counts"] and "total" in raw_dict["sequences"]["counts"]:
                    
                my_dict = {"exam_name": raw_dict["exam_name"],
                           "unanswered": raw_dict["sequences"]["counts"]["unanswered"],
                           "total": raw_dict["sequences"]["counts"]["total"]} 
                my_list.append(Row(**my_dict))
    
    return my_list

In [98]:
exam_una_total = assessments.rdd.flatMap(my_lambda_q5).toDF()

In [99]:
exam_una_total.registerTempTable('exam_una_total')

In [113]:
highest_avg_unanswered = spark.sql('select exam_name, avg(unanswered/total)*100 as avg_percent_unanswered from exam_una_total group by exam_name order by avg_percent_unanswered desc')

In [114]:
highest_avg_unanswered.show(truncate=False)

+--------------------------------------------------------------+----------------------+
|exam_name                                                     |avg_percent_unanswered|
+--------------------------------------------------------------+----------------------+
|View Updating                                                 |25.0                  |
|Learning Spring Programming                                   |25.0                  |
|Native Web Apps for Android                                   |25.0                  |
|Mastering Advanced Git                                        |17.647058823529413    |
|Networking for People Who Hate Networking                     |13.333333333333334    |
|Great Bash                                                    |12.85714285714286     |
|Hibernate and JPA Fundamentals                                |12.5                  |
|Learning C# Best Practices                                    |12.000000000000002    |
|Amazon Web Services - Simple Storage Service                  |11.11111111111111     |
|Design Patterns in Java                                       |10.666666666666668    |
|TCP/IP                                                        |8.571428571428571     |
|Cloud Computing With AWS                                      |7.352941176470589     |
|Software Architecture Fundamentals Understanding the Basics   |7.339449541284404     |
|Amazon Web Services - Virtual Private Cloud                   |6.8181818181818175    |
|Learning C# Design Patterns                                   |6.521739130434782     |
|Learning Apache Cassandra                                     |6.25                  |
|Learning Git                                                  |6.0406091370558395    |
|Python Data Structures                                        |6.0344827586206895    |
|JavaScript: The Good Parts Master Class with Douglas Crockford|6.0344827586206895    |
|Learning iPython Notebook                                     |5.88235294117647      |
+--------------------------------------------------------------+----------------------+
only showing top 20 rows

In [117]:
highest_avg_unanswered.write.mode('overwrite').parquet("/tmp/highest_avg_unanswered")

In [115]:
lowest_avg_unanswered = spark.sql('select exam_name, avg(unanswered/total)*100 as avg_percent_unanswered from exam_una_total group by exam_name order by avg_percent_unanswered asc')

In [116]:
lowest_avg_unanswered.show(truncate=False)

+------------------------------------------------+----------------------+
|exam_name                                       |avg_percent_unanswered|
+------------------------------------------------+----------------------+
|Building Web Services with Java                 |0.0                   |
|Introduction to Apache Kafka                    |0.0                   |
|Arduino Prototyping Techniques                  |0.0                   |
|Service Based Architectures                     |0.0                   |
|Understanding the Grails 3 Domain Model         |0.0                   |
|An Introduction to Set Theory                   |0.0                   |
|Learning to Visualize Data with D3.js           |0.0                   |
|Introduction to Architecting Amazon Web Services|0.0                   |
|Being a Better Introvert                        |0.0                   |
|Introduction to Hadoop YARN                     |0.0                   |
|I'm a Software Architect, Now What?             |0.0                   |
|Learning Apache Hadoop                          |0.0                   |
|Mastering Python - Networking and Security      |0.0                   |
|Starting a Grails 3 Project                     |0.0                   |
|Event-Driven Microservices                      |0.0                   |
|Introduction to Big Data                        |0.0                   |
|Introduction to Apache Spark                    |0.0                   |
|Learning Data Modeling                          |0.0                   |
|Modeling for Software Architects                |0.0                   |
|A Practical Introduction to React.js            |0.0                   |
+------------------------------------------------+----------------------+
only showing top 20 rows

In [118]:
lowest_avg_unanswered.write.mode('overwrite').parquet("/tmp/lowest_avg_unanswered")